*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.blog{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1200px;
    margin: 10% auto;
    border: 2px solid rgb(134, 69, 191);
    padding: 30px;
    border-radius: 20px;
}
.name{
    text-align: center;
    background-color: rgb(134, 69, 191);
    color: white;
    width: 300px;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 0px 0px 20px 20px;
    margin: 0px auto;
}
.logo{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    width: 20%;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    color: rgb(134, 69, 191);
}
.logo a{
    text-decoration: none;
    color: rgb(134, 69, 191);
}
.text{
    width: 35%;
}
.text h1{
    color: rgb(134, 69, 191);
    font-size: 60px;
    padding-bottom: 20px;
}
.text h2{
    color: rgb(137, 125, 146);
    font-size: 25px;
    padding-bottom: 20px;  
}
.text p{
    color: rgb(137, 125, 146);
    font-size: 18px;
    padding-bottom: 25px;
    line-height: 22px;
    width: 80%;
}
.text button{
    background-color: rgb(134, 69, 191);
    border: 1px solid transparent;
    color: white;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 10px;
}
.text button:hover{
    background-color: white;
    color: rgb(134, 69, 191);
    border: 1px solid rgb(134, 69, 191);
    transition-duration: 0.6s;
}
.img{
    width: 35%;
    padding-right: 50px;
}
.img img{
    width: 100%;
}
